[Unit]
Description=Jupyter Lab

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/bin/bash -c "python -m jupyterlab --ServerApp.disable_check_xsrf=True --LabApp.token="" --allow_origin="*" --ip="0.0.0.0" --no-browser --notebook-dir=/home/pi/ams_rpi_software/notebooks"
User=pi
Group=pi
WorkingDirectory=/home/pi/ams_rpi_software/notebooks
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
