numpy<2.0.0
pidng @ git+https://github.com/schoolpost/PiDNG.git@master
simplejpeg>1.8.0
v4l2-python3>0.3.3
rawpy
imageio
scipy
pillow
jupyterlab
Flask==2.3.2
Flask-Login==0.6.2
flake8
Flask-WTF==1.1.1
python-dotenv==1.0.0 
Werkzeug==2.3.6
Flask-Markdown
autopep8
matplotlib
ipywidgets
jupyterlab_widgets 
pandas
./packages/char
