[Unit]
Description=Picamera2 Flask
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/ams_rpi_software/common/picamera2-flask
#Environment="PATH=/home/pi/git/picamera2/myprojectenv/bin"
#ExecStart=gunicorn --workers 3 --bind 0.0.0.0:8000 wsgi:app
ExecStart=/home/pi/ams_rpi_software/venv/bin/python main.py
[Install]
WantedBy=multi-user.target
