{% from "_formhelpers.html" import render_field %}
<html>
<head>
<link rel="stylesheet" href='/static/style.css' />

<title>mira web</title>
</head>
<body>
<h1>Picamera2 MJPEG Streaming Demo for ams mira</h1>

<!-- <input type="submit" name="download" value="Download">
<input type="submit" name="watch" value="Watch">
<input type="submit" name="watch" value="Watch">
<input type="text" id="fname" name="fname"> -->


<form method=post>
  <dl>
    {{ render_field(form.exposure) }}
  </dl>
  <p><input type=submit value=Apply>
</form>

<!-- <form>
    <input type="number" min="10" max="20" step="2" value="16" required>
    <input type="submit" value="Submit Now!">
    </form> -->
<br>
<img src="/video_feed" height="400" />
<br>

keep in mind this is in experimental stage.
<br>
<a href = "mailto: philippe.baetens@ams-osram.com">technical support</a>

</body>
</html>
