[Unit]
Description=Raspberry webserver

[Service]
ExecStart=/usr/bin/python /home/pi/ams_rpi_software/common/webserver.py 
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi


[Install]
WantedBy=multi-user.target
